html{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#priceP{
height: 1vh;
}
img{
    width: 200px;
}

#gameSec{
text-align: center;
display: none;
article{

    height: 39vh;
}
}
#btnDiv{
    display: grid;
    justify-content: center;
    width: 100%;
    button{
        background-color: purple;
        border-radius: 10px;
     margin: 1vw;
     width: 90vw;
     height: 10vh;
     font-size: 30px;
     color: white;   
    }
    
}
#resetBtn{
    width: 100%;
    margin-top: 60vh;
    margin-bottom: 5vh;
    background-color: purple;
    font-size: 100px;
    color: white;
}
#randNumDiv{
    width: 95%;
    margin-left: 2vw;
    margin-bottom: 5vh;
    background-color: purple;
    font-size: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    p {
        color: white;
        margin: 0;
    }
    #randNum{

        color: white;
        letter-spacing: 5vw;
    }
}
 #gameArt{
    height: 20vh;
 }
#platform{
    display: none;
    background-color: purple;
    margin-left: 40%;
    width: 20vw;
    height: 5vh;
    border-radius: 50px;
}
#pointDiv{
    display: grid;
    grid-template-columns: 60% 10%;
    h3{
        font-size: 70px;
        margin: 0;
        padding: 0;
    }
}
#counterDiv{
    display: grid;
    grid-template-columns: 10% 10%;
    color: white;
    

 #correctCount{
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: 30px;
    height: 5vh;
    width: 10vw;
}  
#correctCount2{
    margin-top: 0;
    font-size: 30px;
    height: 5vh;
    width: 10vw;
} 
#livesH2{
    margin-top: 1vh;
    margin-left: 5vw;
}
#pointH2{
    margin-bottom: 0;
    height: fit-content;
    
    margin-left: 5vw;
}
}
