html{
    
}
#priceP{
    display: none;
}
img{
    width: 200px;
}

#gameSec{
text-align: center;
article{

    height: 300px;
}
}
#btnDiv{
    display: flex;
    justify-content: center;
    button{
     margin: 1vw;   
    }
    
}